navbar
{
background-color:#f9f5f2;
}
footer
{
background-color:
}
.card
{
    background-color:rgb(149, 197, 236)
}
.btn
{
 background-color: black;
}
.button
{
    background-color:;
}
main 
{
    background-color:rgb(179, 176, 176)
}
.btn-pesquisa
{
text-align: bottom;
}